# Dependencies
node_modules/
package-lock.json
venv/
.venv/

# Build outputs
dist/
build/
*.egg-info/

# Environment
.env
.env.local
.env.production

# Python
__pycache__/
*.pyc
*.pyo
dump.rdb

# Logs
*.log
music/*.json
download/

# OS
.DS_Store
Thumbs.db

# Vite
web/.vite/

# TypeScript
tsconfig.tsbuildinfo
music/.history.json
